
/****************Education Resource Grid**********************/

.GridViewForRes
{
    margin: 0px;
    padding: 3px;
    font-size: 1em;
    color: black;
    text-align: left;
    white-space: nowrap;
    min-width: 51px;
    border: 1px solid #2E8E6E;
    background-color: #265F4E;
    color: Black;
    cursor: pointer;
    font-family: Calibri, Cambria ,Trebuchet MS;
    font-size: medium;
}

.GridViewItemForRes td
{
    margin: 0px;
    padding: 3px;
    font-size: 1em;
    text-align: left;
    white-space: nowrap;
    min-width: 51px;
    border-bottom: 1px solid #2E8E6E;
    border-right: 0px solid #2E8E6E;
    border-left: 0px solid #2E8E6E;
    border-top: 0px solid #2E8E6E;
    padding: 8px;
    color: white;
}
.GridViewItemForRes td a:hover
{
    color: white;
}

.GridViewItemForRes td:hover
{
    background-color: RGBA(38,51,52,0.5);
}
/**************************************/

.GridViewItem td
{
    /*     margin: 0px;     padding: 3px;     font-size: 1em;     color: White;     text-align: left;     white-space: nowrap;     min-width: 51px;     border:1px solid #2E8E6E;          background-color:rgba(255,255,255,0.5);     color:Black;     */
    margin: 0px;
    padding: 3px;
    font-size: 0.80em;
    text-align: left;
    white-space: nowrap;
    min-width: 51px;
    border: 1px solid #2E8E6E;
    background-color: #C8E4CB; /*rgb(158, 177, 170);*/
    color: Black;
}

.GridViewItem td a
{
    display: inline-block;
    line-height: 1.2em;
    white-space: nowrap;
    text-align: left;
    width: 100%;
}

.LinkButton
{
    padding: 5px;
    float: left;
    color: white;
    text-align: left;
}

.LinkButton:hover
{
    color: Yellow;
}
.GridViewHeadercss, .GridViewHeadercss > th
{
    /*background-color: #273434;          color: #71AF32;     font-size: 1em;     font-weight: bold;     text-align: center;     white-space: nowrap;     text-align: center;     padding: 3px;     border:1px solid #2E8E6E;*/ /*background-color: #273434;*/
    background-color: #AAD2AE;
    color: black;
    font-size: 0.90em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    padding: 3px;
    border: 1px solid #2E8E6E;
}

.ActivityContent
{
    overflow: auto;
}

.ActivityContent div span
{
    /*visibility:hidden;     display:none;*/
}

.activitydiv
{
    margin-bottom: 15px;
}



.GridTitle
{
    display: inline-block;
    padding: 5px;
    margin: none;
    margin-top: 15px;
    color: #FFFF1E;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 1px solid #2E8E6E;
    border-bottom: none;
    font-weight: bold; /*text-transform: uppercase;*/
}

.DetailsView
{

    width: 100%;
    font-family: Cambria,Calibri, Trebuchet MS;
    font-size: 11pt;
    background-color:RGBA(255,255,255,0.2);
    border:1px solid #2E8E6E;

}

.DetailsView tbody > tr > td
{
    padding:5px;
    /*border:1px solid #2E8E6E;*/
    }
.DetailsView > tbody > tr:first-child > td
{
    border:none;
    background-color: #273434;
    color: #4C9B32;
    padding: 5px;
}

