.GridViewCss
{
    border: 1px solid #CCCCCC;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    text-align: center;
    color: #777777;
    font-family: Roboto-Light;
    font-size: 14px;
}

.GridViewCss a:Hover
{
    color: Orange;
}

.GridViewCss td
{
    border: 1px solid #CCCCCC;
    padding: 4px 2px 2px 2px;
   
}

.GridViewHeadercss th
{
    border: 1px solid #CCCCCC;
    padding: 8px 2px 2px 2px;
    text-align: center;
    color: #777777;
}
.GridViewHeadercss th a
{
    color: #777777;
    text-decoration: none;
    
}
.GridViewHeadercss
{
    background-color: #D7FAFA;
    color: #C2C2C2;
    overflow: hidden;
}

.GridViewItem
{
    margin: 2px 2px 2px 2px;
    text-align: left;
    color: #777777;
}
.GridViewCssTestAssessment
{
    border: none;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    text-align: center;
    color: #777777;
    font-family: Roboto-Light;
    font-size: 14px;
}
.GridViewCssTestAssessment td
{
    border: none;
    padding: 4px 2px 2px 2px;
}
.GridViewHeadercssTestAssessment th
{
    border: 0px solid #CCCCCC;
    padding: 8px 2px 2px 2px;
    text-align: center;
    color: White;
}
.GridViewHeadercssTestAssessment th a
{
    color: White;
    text-decoration: none;
}
.GridViewHeadercssTestAssessment
{
    background-color: #42A3A1;
    color: White;
    overflow: hidden;
}

.GridViewItemTestAssessment
{
    margin: 2px 2px 2px 2px;
    text-align: left;
    color: #777777;
}

.ApChartGreen
{
    /*background-color: Green;     border: none;     height: 22px;     color: White;     margin: 0px 0px 0px 1px;     overflow: hidden;     font-size: 12pt;     text-align: center;     background-position: center center;         background-repeat: repeat-x;*/
    margin: 0px;
    padding: 0px;
    background-color: #009B32;
    text-align: center;
    font-size: 11pt;
    overflow: hidden;
    border-top-left-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
    box-shadow: 2px 3px 3px #888888;
}


.ApChartRed
{
    margin: 0px;
    padding: 0px;
    background-color: #ED0000;
    text-align: center;
    overflow: hidden;
    font-size: 11pt; /*background-position: center center;     background-color: red;     border: none;     height: 22px;     color: White;     margin: 0px 1px 0px 0px;     overflow: hidden;     font-size: 12pt;     text-align: center;        background-repeat: repeat-x;*/
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    box-shadow: 0px 3px 3px #888888;
}


.ApChartRed span
{
    text-align: center;
}
.ApChartGreen span
{
    text-align: center;
}
.Studentusercontrol
{
    background-color: #CCCCCC;
    color: #000000;
    padding-left: 15px;
    margin: 3px;
}


fieldset
{
    margin-top: 25px;
}

