.menu
{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
   /* font-weight: bold;*/
    float: left;
}
.menu ul
{
    height: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li
{
    float: left;
	padding: 2px;
}
.menu li a
{
    url("../images/seperator.gif") bottom right no-repeat;
    color: #800000;
    display: block;
    font-weight: normal;
    line-height: 25px;
    margin: 0px;
    padding: 0px 11px;
    text-align: center;
    text-decoration: none;
}
.menu li a:hover, .menu ul li:hover a
{
    /*background: #152e5b 
    url("../images/hover.gif") bottom center no-repeat;*/
    color: black;
    text-decoration: none;
    
}
        
.menu li a:active, .menu ul li:active a
{
    /*background: #152e5b
    url("../images/hover.gif") bottom center no-repeat;*/ 
    color: Black;
    text-decoration: none;
}
        
.menu li ul
{
    background: #18C5C5;
    display: none;
    height: auto;
    padding: 0px;
    margin-top: 2px;
    margin-left:-4px;
    border: 0px;
    position: absolute;
    width: 180px;
    z-index: 200; /*top:1em;     /*left:0;*/
}
.menu li:hover ul
{
    display: block;
}
.menu li li
{
    background: url('../images/sub_sep.gif') bottom left no-repeat;
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width:auto;
}
.menu li:hover li a
{
    background: none;
}
.menu li ul a
{
    display: block;
    height: 20px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}
.menu li ul a:hover, .menu li ul li:hover a
{   
    background: #C7F8F8;
    /*background: #D7FAFA;*/
    url('../images/hover_sub.gif') border: 0px; 
    color: black; 
    text-decoration: none; 
}
.menu p
{
    clear: left;
}

 .round 
 {


background: #ade8e8; /* Old browsers */
background: -moz-linear-gradient(top,  #ade8e8 0%, #4bbbbb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ade8e8), color-stop(100%,#4bbbbb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ade8e8 0%,#4bbbbb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ade8e8 0%,#4bbbbb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ade8e8 0%,#4bbbbb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ade8e8 0%,#4bbbbb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ade8e8', endColorstr='#4bbbbb',GradientType=0 ); /* IE6-9 */

			
margin-right:0px;
border-top-left-radius:0.5em;
border-top-right-radius:0.5em;
border:1px solid #35B1B1;
border-bottom:none;	
}
.round:hover, .round:active, .round:visited
{
    
  
    background: #24a9a9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0YTlhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2ViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #24a9a9 0%, #b3ebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#24a9a9), color-stop(100%,#b3ebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #24a9a9 0%,#b3ebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #24a9a9 0%,#b3ebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #24a9a9 0%,#b3ebeb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #24a9a9 0%,#b3ebeb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a9a9', endColorstr='#b3ebeb',GradientType=0 ); /* IE6-8 */
 
 

    /*
    border-top-left-radius:2em;
	border-top-right-radius:2em;
    */
    
    } 
			
.roundBottom 
 {


background: #ade8e8; /* Old browsers */
background: -moz-linear-gradient(top,  #ade8e8 0%, #4bbbbb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ade8e8), color-stop(100%,#4bbbbb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ade8e8 0%,#4bbbbb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ade8e8 0%,#4bbbbb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ade8e8 0%,#4bbbbb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ade8e8 0%,#4bbbbb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ade8e8', endColorstr='#4bbbbb',GradientType=0 ); /* IE6-9 */

			
	margin-right:0px;
	border-bottom-left-radius:0.5em;
	border-bottom-right-radius:0.5em;
	border:1px solid #35B1B1;
	border-top:none;	
}

.roundBottom:hover, .roundBottom:active, .roundBottom:visited
{
    
  
    background: #24a9a9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0YTlhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2ViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #24a9a9 0%, #b3ebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#24a9a9), color-stop(100%,#b3ebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #24a9a9 0%,#b3ebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #24a9a9 0%,#b3ebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #24a9a9 0%,#b3ebeb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #24a9a9 0%,#b3ebeb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a9a9', endColorstr='#b3ebeb',GradientType=0 ); /* IE6-8 */
 
 

    /*
    border-top-left-radius:2em;
	border-top-right-radius:2em;
    */
    
    } 
			

.menu li ul li
{
    height: 25px;
    list-style: none;
    margin-top: 0px;
    padding: 0px;
    width: auto;
    color: #800000;
}

.menu li ul li a
{
    height: 25px;
    font-size: 14px;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    text-align: left;
     width: auto;
}

.menu li ul li a:hover
{
    height: 25px;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    color: black; 
    width:auto;
}
